@use '../../vars';

.list {
    list-style: none;

    &-item {
        border-bottom: 0.1rem solid vars.$darkBaseColor;
        padding-bottom: 0.5rem;
        font-size: 1.2rem;
        text-transform: capitalize;
        padding: 1.5rem 0 1.5rem 0;

        &.done {
            text-decoration: line-through;
        }

        &-label {
            position: relative;
            padding-right: 1.5rem 
        }

        &-checkbox {
            -webkit-appearance: none;
            appearance: none;
            position: relative;

            &:before {
                content: "";
                display: inline-block;
                height: 1rem;
                width: 1rem;
                border: 0.2rem solid vars.$darkerBaseColor;   
                position: absolute;
                top: -1.2rem;
                left: -0.3rem;
            }

            &:after {
                content: none;
                display: inline-block;
                height: 0.4rem;
                width: 0.8rem;
                border-left: 0.3rem solid vars.$darkerBaseColor;
                border-bottom: 0.3rem solid vars.$darkerBaseColor;
                transform: rotate(-55deg);
                position: absolute;
                top: -0.9rem;
                left: -0.1rem;
            }

            &:checked:after {
                content: "";
            }

            &:focus:before {
                cursor: pointer;
            }


            &:hover:before {
                outline: vars.$altColor auto 1rem;
            }
        }

        }
        }


